@import url("https://fonts.googleapis.com/css?family=Voltaire");

@mixin createAlphaRandom {
  @for $i from 0 through 10 {
    #{$i * 10%} {
      opacity: random() * 0.3 + 0.7;
    }
  }
}

html,
body {
  background: #333;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#textFill {
  animation: alphaRandom 1s linear infinite;
}

#textGlow {
  animation: alphaRandom2 1s linear infinite;
}

@keyframes alphaRandom {
  @include createAlphaRandom;
}

@keyframes alphaRandom2 {
  @include createAlphaRandom;
}
